/verygoodgame/android/app/google-services.json
/verygoodgame/unity/verygoodgameproj/Temp
/verygoodgame/unity/verygoodgameproj/Library/il2cpp_android_armeabi-v7a/il2cpp_cache
/verygoodgame/unity/verygoodgameproj/Library/il2cpp_android_x86/il2cpp_cache
verygoodgame/unity/verygoodgameproj/Library/il2cpp_android_armeabi-v7a/il2cpp_cache
/verygoodgame/ios/UnityExport
/verygoodgame/android/UnityExport