/verygoodgame/android/app/google-services.json
/verygoodgame/unity/verygoodgameproj/Temp
/verygoodgame/unity/verygoodgameproj/Library/il2cpp_android_armeabi-v7a/il2cpp_cache
/verygoodgame/unity/verygoodgameproj/Library/il2cpp_android_x86/il2cpp_cache
verygoodgame/unity/verygoodgameproj/Library/il2cpp_android_armeabi-v7a/il2cpp_cache
/verygoodgame/ios/UnityExport
/verygoodgame/android/UnityExport
/verygoodgame/unity/verygoodgameproj/Library/ShaderCache
/verygoodgame/unity/verygoodgameproj/Library/AssetImportState
/verygoodgame/unity/verygoodgameproj/Library/EditorUserBuildSettings.asset
/verygoodgame/unity/verygoodgameproj/Library/ScriptAssemblies/Assembly-CSharp.dll
/verygoodgame/unity/verygoodgameproj/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
/verygoodgame/unity/verygoodgameproj/Library/ScriptAssemblies/Assembly-CSharp.pdb
/verygoodgame/unity/verygoodgameproj/Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
/verygoodgame/unity/verygoodgameproj/Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.dll
/verygoodgame/unity/verygoodgameproj/Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.pdb
/verygoodgame/unity/verygoodgameproj/Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
/verygoodgame/unity/verygoodgameproj/Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
/verygoodgame/unity/verygoodgameproj/Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll
/verygoodgame/unity/verygoodgameproj/Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.pdb
/verygoodgame/unity/verygoodgameproj/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
/verygoodgame/unity/verygoodgameproj/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
/verygoodgame/unity/verygoodgameproj/Library/ScriptAssemblies/Unity.TextMeshPro.dll
/verygoodgame/unity/verygoodgameproj/Library/ScriptAssemblies/Unity.TextMeshPro.pdb
/verygoodgame/unity/verygoodgameproj/Library/assetDatabase3
/verygoodgame/unity/verygoodgameproj/Library/metadata/01/01e02995805eb483690380a911a657e2
/verygoodgame/unity/verygoodgameproj/Library/metadata/01/01e02995805eb483690380a911a657e2.info
/verygoodgame/unity/verygoodgameproj/Library/metadata/3c/3cf132d4fa07f4f0cb2883499c5c7dd0
/verygoodgame/unity/verygoodgameproj/Library/LastBuild.buildreport
/verygoodgame/unity/verygoodgameproj/Library/metadata/18/181413f1d4d48f544a9bfda4aff12e58 
/verygoodgame/unity/verygoodgameproj/Library/metadata/18/181413f1d4d48f544a9bfda4aff12e58.info 
/verygoodgame/unity/verygoodgameproj/Library/metadata/52
/verygoodgame/unity/verygoodgameproj/Library/EditorInstance.json
/verygoodgame/unity/verygoodgameproj/Library/PlayerDataCache

/verygoodgame/unity/verygoodgameproj/Library/metadata/3c/3cf132d4fa07f4f0cb2883499c5c7dd0.info
/verygoodgame/unity/verygoodgameproj/Library/metadata/4c/4c433abcdb28444ebb7bd395ba5c76fc
/verygoodgame/unity/verygoodgameproj/Library/metadata/4c/4c433abcdb28444ebb7bd395ba5c76fc.info
/verygoodgame/unity/verygoodgameproj/Library/metadata/4d/4dfd3f5da88944ec6ac5977d676c30c6
/verygoodgame/unity/verygoodgameproj/Library/metadata/4d/4dfd3f5da88944ec6ac5977d676c30c6.info
/verygoodgame/unity/verygoodgameproj/Library/metadata/ac/acc34040a66fe4170bc8885268860cfe
/verygoodgame/unity/verygoodgameproj/Library/metadata/ac/acc34040a66fe4170bc8885268860cfe.info
/verygoodgame/unity/verygoodgameproj/Library/metadata/f8/f8eca3a711f4842eba0c52ea9885ef7f
/verygoodgame/unity/verygoodgameproj/Library/metadata/f8/f8eca3a711f4842eba0c52ea9885ef7f.info
/verygoodgame/unity/verygoodgameproj/ProjectSettings/GraphicsSettings.asset
/verygoodgame/unity/verygoodgameproj/ProjectSettings/UnityConnectSettings.asset
